
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBLugrul2uCd3jD2RujWDTnHNt-WJWfwlQ",
    authDomain: "roverone-95623.firebaseapp.com",
    databaseURL: "https://roverone-95623.firebaseio.com",
    projectId: "roverone-95623",
    storageBucket: "",
    messagingSenderId: "387830035506"
  };
  firebase.initializeApp(config);
</script>